extends ../_parts/_layout

//------------------
//- variable
//------------------
block var_block
    - var title             = '初音ファン一同による「初音さんバースデー企画 2015」';//-meta title
    - var description       = '初音さんのバースデーライブ「初音茶屋THE BIRTHDAY～二十五伝・二十五記～」をファンみんなでお祝いしよう！';//-meta description
    - var keywords          = '初音,奥村初音,女性シンガーソングライター,歌手,初音茶屋,ライブ,バースデー,誕生日';//-meta keywords
    - var og_url            = 'http://hatsune.yumetabi.club/birthday2015/';//-og url
    - var og_type           = 'website';//-og type
    - var og_title          = title;//-og title
    - var og_image          = 'http://hatsune.yumetabi.club/birthday2015/img/ogimage.png';//-og image
    - var og_description    = description;//-og description
    - var tw_type           = 'summary_large_image';//-twitter card type
    - var tw_site           = '@hatsune_movie';
    - var tw_url            = og_url;
    - var tw_title          = title;
    - var tw_description    = description;
    - var tw_image          = og_image;
    - var rootPath          = '../'//-root path

//------------------
//- header meta
//------------------
block headMETA
    link(href="https://fonts.googleapis.com/css?family=Original+Surfer", rel="stylesheet", type="text/css")

//------------------
//- header css
//------------------
block headCSS
    link(rel="stylesheet", href="#{rootPath}birthday2015/css/bootstrap.min.css")
    link(rel="stylesheet", href="#{rootPath}birthday2015/css/style.css")

//------------------s
//- header js
//------------------
block headJS

//- -----------------
//- Contents
//- -----------------
block header_block

block contents_block
    .main
        .container-fluid.main__inner
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    h1.main__title
                        | Hatsune 
                        br.hidden-sm-up
                        | 25th 
                        br.hidden-sm-up
                        | Anniversary
                    h2.main__title2
                        span
                            | 初音ファン一同による
                        br
                        | 初音さんバースデー企画 2015
                    p.main__text
                        | 2015年10月11日、10月12日に行われるワンマンライブ・初音茶屋で、初音さんは25歳の誕生日を迎えます。
                        br
                        | それに合わせて、ファン一同からプレゼントとバースデーサプライズの企画でお祝いしませんか？
                        br
                        br
                        | 10月11日「ワンマンライブ初音茶屋 vol.44」Yokohama O-SITE
                        br
                        | 10月12日「ワンマンライブ初音茶屋 vol.45」umeda AKASO
                        br
                        br
                        | ※上記の各公演でプレゼント代のカンパと当日の参加を募集しています。
                        br
                        br
                        | この企画に賛同し、ご協力いただける方は、ぜひ下記リンクから申し込みページヘ進み、参加登録をお願いします。
                    p.btn__entry
                        a.btn(href='http://twipla.jp/events/166587') 参加＆詳細ページヘ
                    p.main__text2
                        | ※参加登録にはTwitterのアカウントが必要になります。
                        br
                        | Twitterアカウントをお持ちでない方は、
                        a(href='mailto:yumetabi.club@gmail.com')
                            | yumetabi.club@gmail.com
                        | まで、メールにてご連絡ください。
                        br
                        | ※この企画は事前にスタッフさんの許可を得て実行しています。
                    .socialButton
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="#{description}" data-hashtags="初音生誕祭" data-lang="ja">ツイート</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        <div class="fb-like" data-href="#{og_url}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                        <div class="fb-share-button" data-href="#{og_url}" data-layout="button"></div>
                        .socialButton__line
                            <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
                            <script type="text/javascript">new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"});</script>
    .sub
        .container-fluid.sub__inner
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card.news
                        .sub__title
                                h2
                                    | 初音茶屋・最新情報 
                                    span.label.label-info.sub__label New
                        .card-block
                            p.card-text
                                | ゆーりら等で発表された初音さんの発言から、現在までに確認されている初音茶屋vol.44＆vol.45の最新情報をまとめてみました。
                            ul.news__list
                                li
                                    span.news__title チーム初音のメンバー決定
                                    br
                                    | 初音茶屋vol.44＆vol.45のメンバーは、ボーカル／キーボード：初音さん、ギター：馬場一人さん、バイオリン：MIZさん、パーカッション：矢吹正則さん に決定しました。
                                li
                                    span.news__title バースデーライブ限定グッズの販売
                                    br
                                    | 初音25周年を記念するアニバーサリー的なものになるとのこと。ヒトリラツアーの時のように、セット的な商品もあるそうです。
                                li
                                    span.news__title グッドナイトレディオ第2弾の販売
                                    br
                                    | Pop’n Rockで販売された円盤限定ラジオ「グッドナイトレディオ」が、今回の初音茶屋でも販売されるかもしれません。
                                li
                                    span.news__title 初音茶屋vol.46 チケットの最速販売
                                    br
                                    | 初音茶屋vol.44＆vol.45の会場にて、次回11月初音茶屋のチケットが先行販売されます。終演後の販売になるか、開演前の販売になるかは調整中で、後日発表されるそうです。
                                li
                                    span.news__title 未発表曲またはライブで初めて演奏する曲あり（？）
                                    br
                                    | 今回は初めて演奏する曲があるかも・・という発言がありました。制作中の新曲の可能性もあります。
                                li
                                    span.news__title オフィシャルファンクラブの詳細が発表（？）
                                    br
                                    | 初音オフィシャルFCの開設＆登録開始が、10/11頃と言われており、もしかすると初音茶屋の会場で正式発表になるかもしれません。

            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card
                        .sub__title
                                h2
                                    | バースデー企画の詳細
                        .card-block
                            p.card-text
                                | バースデー企画のフライヤーが完成したので公開します。
                                br
                                | 10/11、10/12の初音茶屋に参加予定のファンの方は、ぜひ事前にチェックしておきましょう！
                                br
                                | （フライヤーは、横浜と大阪の各公演バージョンがあります）
                            .row
                                .col-sm-6
                                    p.text-center
                                        a(href='img/hatsune_birthday2015_1011.jpg', target='_blank')
                                            img(src="img/hatsune_birthday2015_1011_s.jpg")
                                            br
                                            | 10/11 横浜公演版
                                .col-sm-6
                                    p.text-center
                                        a(href='img/hatsune_birthday2015_1012.jpg', target='_blank')
                                            img(src="img/hatsune_birthday2015_1012_s.jpg")
                                            br
                                            | 10/12 大阪公演版
                            p.card-text.sub__text2
                                | ※当日、会場でもフライヤーをお配りする予定ですが、Web版とは文面や内容等が変更になる可能性があります。
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card
                        .sub__title
                                h2
                                    | 当日のサークル活動について
                        .card-block
                            p.card-text
                                | 横浜公演、大阪公演共にライブ前に「初音U-rela組サークル活動」を行い、バースデーサプライズの準備を行います。ご都合のつく方は、ぜひこちらもご参加ください。集合時間・日時は、それぞれ以下の通りです。
                                br
                                br
                                | 【横浜公演】
                                br
                                | 集合時間…11:00
                                br
                                | 集合場所…相鉄線の横浜駅みなみ西口改札前（会場のYokohama O-SITEから一番近くて目印になる改札前です）
                                br
                                br
                                | 【大阪公演】
                                br
                                | 集合時間…11:00
                                br
                                | 集合場所…JR大阪駅の3F連絡橋口改札前
                                br
                                br
                                | 集合場所で合流してから「サークル活動」（サプライズの準備）を行う場所に移動します。
                                br
                                | 集合時間は両公演共に11:00ですが、11:00に間に合わない方は、途中参加も大歓迎です。
                            p.card-text.sub__text2
                                | ※途中参加希望の方は、待ち合わせの方法等を個別にご連絡しますので、
                                a(href="https://twitter.com/yoshiki_mu", target='_blank') @yoshiki_mu
                                | までご相談ください。
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card
                        .sub__title
                                h2
                                    | 初音さんについて
                        .card-block
                            .media
                                .media-left
                                    img.media-object(src="https://twitter.com/hatsune1011/profile_image?size=original", width="73", height="73")
                                .media-body
                                    | 1990年10月11日生まれ、大阪出身のシンガーソングライター。
                                    br
                                    | 2007年「恋、花火」でデビューし、ドラマの主題歌なども多数手がける。
                                    br
                                    | 切ない恋心を描いたラブソングを始め、その作品の世界観と、透き通るような歌声には定評が高い。
                                    br
                                    | 2015年4月21日には、3rdアルバム「風は君の答えを待っている」をリリース。
                            p.text-right.m-t.m-b-0
                                a.card-link(href='http://www.hatsune-gmjp.com/', target='_blank') オフィシャルサイトはこちら
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card
                        .sub__title
                                h2
                                    | 初音茶屋について
                        .card-block
                            p.card-text
                                | 初音さんが2010年から開催していて、通算40回を越える恒例のワンマンライブ。
                                br
                                | おなじみの楽曲はもちろん、みんなが知ってるカバー曲や、子供の頃から作り続けている曲を披露するコーナーなど、初めて来た人でも楽しめる仕掛けが満載。初音さんがチーム・初音のメンバーと繰り広げる、独特の『ゆるゆるトーク』にも癒やされること請け合いです。
                            p.text-right
                                a.card-link(href='http://www.hatsune-gmjp.com/#!live/cee5', target='_blank') チケット情報はこちら
                            .embed-responsive.embed-responsive-16by9
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/MT3BPMtTAIg" frameborder="0" allowfullscreen></iframe>
            .row
                .col-sm-6.col-md-offset-1.col-md-5.col-lg-offset-2.col-lg-4
                    .card.tweet
                        .sub__title
                                h2
                                    | 初音茶屋に関するツイート
                        .card-block.tweet__inner
                            p.card-text
                                | 「初音茶屋」に関する最新の話題をチェックしましょう。
                            <a class="twitter-timeline" href="https://twitter.com/hashtag/%E5%88%9D%E9%9F%B3%E8%8C%B6%E5%B1%8B" data-widget-id="649432751133716484">#初音茶屋 のツイート</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                .col-sm-6.col-md-5.col-lg-4
                    .card
                        .sub__title
                                h2
                                    | 初音さんのFacebookページ
                        .card-block
                            p.card-text
                                 | 公式Facebookページでも最新の情報をチェックできます。
                            <div class="fb-page" data-href="https://www.facebook.com/%E5%88%9D%E9%9F%B3%E5%85%88%E7%94%9F-312494772121781/" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"></div>
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card
                        .sub__title
                                h2
                                    span.hidden-xs-down 初音さんに
                                    | お祝いのメッセージを送ろう
                        .card-block
                            p.card-text
                                | 10/11、10/12のバースデーライブには参加できないけど、初音さんの誕生日をお祝いしたい！
                                br
                                | そんな方は、ぜひお祝いのメッセージをツイートしませんか？
                                br
                                | もちろん、初音茶屋に参加する方からのメッセージも大歓迎です♪
                            p.btn__tweet
                                a.btn(href='https://twitter.com/intent/tweet?hashtags=初音生誕祭', target='_blank') #初音生誕祭 のハッシュタグをつけてツイート
            .row
                .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
                    .card.accounts
                        .sub__title
                                h2
                                    | おすすめのTwitterアカウント
                        .card-block.accounts__inner
                            .row
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/hatsune1011", target='_blank')
                                                img.media-object(src="https://twitter.com/hatsune1011/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/hatsune1011", target='_blank')
                                                h3.media-heading.account__name @hatsune1011
                                            p
                                                | 初音さんの公式アカウント。
                                                br
                                                | ブログの更新と合わせてチェック！
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/hatsune_web", target='_blank')
                                                img.media-object(src="https://twitter.com/hatsune_web/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/hatsune_web", target='_blank')
                                                h3.media-heading.account__name @hatsune_web
                                            | 初音 WEBSTAFFさんの公式アカウント。
                                            br
                                            | ライブ情報をはじめインフォメーション関連はこちら。
                            .row.m-t
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/rebrightlastand", target='_blank')
                                                img.media-object(src="https://twitter.com/rebrightlastand/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/rebrightlastand", target='_blank')
                                                h3.media-heading.account__name @rebrightlastand
                                            p
                                                | 初音さんがボーカルを務めるロックバンド「リブライト・ラスタンド」の公式アカウント。
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/pj_live", target='_blank')
                                                img.media-object(src="https://twitter.com/pj_live/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/pj_live", target='_blank')
                                                h3.media-heading.account__name @pj_live
                                            | リブラス＆初音さん応援ちう♪
                                            br
                                            | 初音さんとリブライト・ラスタンドの情報をツイートしている非公式アカウント。
                            .row.m-t
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/hatsune_song", target='_blank')
                                                img.media-object(src="https://twitter.com/hatsune_song/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/hatsune_song", target='_blank')
                                                h3.media-heading.account__name @hatsune_song
                                            p
                                                | 初音 歌詞bot。
                                                br
                                                | 初音さんの楽曲の歌詞をツイートしている非公式アカウント。
                                .col-sm-6
                                    .media.account
                                        .media-left
                                            a(href="https://twitter.com/hatsune_movie", target='_blank')
                                                img.media-object(src="https://twitter.com/hatsune_movie/profile_image?size=bigger", width="48", height="48")
                                        .media-body
                                            a(href="https://twitter.com/hatsune_movie", target='_blank')
                                                h3.media-heading.account__name @hatsune_movie
                                            | 初音 動画bot。
                                            br
                                            | 初音さんのYoutube動画をツイートしている非公式アカウント。

    footer.footer
        p.copyright
            | Powered by Hatsune Fans.


block footer_block




